// Nova Tool CSS
@tailwind components;
@tailwind utilities;

$active-color: var(--primary);
$inactive-color: #a4a4a4;
$disable-color: #a4a4a4;
$stroke-width: 0.25rem;
$line-height: 1rem;
$radio-size: 1rem;
$bg-color: #a4a4a4;
$duration: .5s;

.step {
  position: relative;
  width: $radio-size;
  height: $radio-size;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px $active-color,
  inset 0 0 0 0 $bg-color,
  inset 0 0 0 $radio-size $active-color;
  transition: box-shadow $duration;
  z-index: 2;

  &::after {
    content: attr(content);
    position: absolute;
    max-height: 3rem;
    width: 10rem;
    text-align: center;
    vertical-align: center;
    top: calc(-2rem + 50%);
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translateX(-50%) translateY(-50%);
    overflow: visible;
  }
}

.step.lock {
  color: $disable-color;
  cursor: not-allowed;
}

.step.active::after {
  color: $active-color;
  font-weight: bold;
}

.step.active ~ .step {
  box-shadow:
          inset 0 0 0 1px $inactive-color,
          inset 0 0 0 $radio-size $bg-color,
          inset 0 0 0 $radio-size $active-color;
}

.box {
  position: relative;
  width: calc(100% - 12rem);
  margin: 5rem auto 2rem;
  display: flex;
  justify-content: space-between;

  hr {
    margin: 0;
    height: $line-height;
    border: none;
    color: $inactive-color;

    &,
    &:before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &::before,
    &::after {
      content: '';
      background-image: linear-gradient(
                      transparent calc(50% - #{$stroke-width*.5}),
                      currentColor calc(50% - #{$stroke-width*.5}),
                      currentColor calc(50% + #{$stroke-width*.5}),
                      transparent calc(50% + #{$stroke-width*.5})
      );
    }

    &::after {
      color: $active-color;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform $duration linear;
    }
  }
}


@for $i from 2 through 9 {
  .box[data-max="#{$i}"] {
    @for $j from 1 through $i {
      div:nth-of-type(#{$j}).step.active ~ hr::after {
        transform: scaleX(#{($j - 1) / ($i - 1)});
      }
    }

    .step::after {
      max-width: calc((100vw - 26rem) / #{$i});
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (max-width: 992px)
{
  .box {
    margin: 5rem auto 2rem;
    width: calc(100% - 6rem);
  }
  @for $i from 2 through 9 {
    .box[data-max="#{$i}"] {
      .step::after {
        max-width: calc((100vw - 10rem) / #{$i});
      }
    }
  }
}

@media (max-width: 768px)
{
  .step::after {
    display: none;
  }

  .box {
    margin: 1rem auto 1rem;
    width: calc(100% - 2rem);
  }
}
