<template>
  <card class="flex justify-center shadow-md p-2">
    <div class="box" :data-max="steps.length">
      <div v-for="(step, index) in steps"
           :key="step.key"
           :class="{ 'step':true, 'active': current === index, 'lock': !canJumpTo(step, index) }"
           :content="step.name"
           @click="handleClick(step)"></div>
      <hr>
    </div>
  </card>
</template>

<script>
export default {
  props: {
    steps: {
      type: Array,
      required: true,
      default: []
    },
    current: {
      type: [String, Number],
      default: undefined
    },
    mode: {
      type: String,
      required: true,
      default: 'create'
    },
    lastCompletedStep: {
      type: [String, Number],
      default: 0
    }
  },

  methods: {
    isActive(step, index) {
      return this.current === index
    },

    isLastStep(step) {
      return this.steps.indexOf(step) === this.steps.length - 1
    },

    canJumpTo(step, index) {
      if (index === this.current) return false
      if (this.mode === 'create') {
        return step.passed || index <= this.lastCompletedStep
      }
      return true
    },

    handleClick(step) {
      if (!this.canJumpTo(step, step.step)) return
      this.$emit('jump-to', step)
    }
  }
}
</script>
