<template>
	<div>
    <input type="radio" class="sr-only" :name="`step-${step.step}`" :id="`step-${step.step}`" :checked="active">
    <label :for="`step-${step.step}`" :class="{'step':true, 'active': active}"></label>
	</div>
</template>

<script>
export default {
	props: {
		step: {
			type: Object,
			required: true,
		},
		active: {
			type: Boolean,
			default: false,
		},
		last: {
			type: Boolean,
			default: false,
		},
	},

  mounted() {
  },

  computed: {
  }
}
</script>
<style>
</style>
