<template>
  <loading-view :loading="loading || loadingSteps">
    <custom-update-header
      class="mb-3"
      :resource-name="resourceName"
      :resource-id="resourceId"
    />

    <wizard-form
      @update-last-retrieved-at-timestamp="updateLastRetrievedAtTimestamp"
      :navigation="$route.params.navigable"
      :resource-name="resourceName"
      :resource-id="resourceId"
      :via-resource="viaResource"
      :via-resource-id="viaResourceId"
      :via-relationship="viaRelationship"
      :panels="panelsWithFields"
      :next-handler="handleNext"
      :previous-handler="handlePrevious"
      :jump-to-handler="handleJumpToStep"
      :last-completed-step="lastCompletedStep"
      mode="update"
      :submit-handler="handleSubmit"
      :validation-errors="validationErrors"
      @cancelled="handleCancelled"
    />
  </loading-view>
</template>

<script>
import {Errors, InteractsWithResourceInformation, mapProps} from 'laravel-nova'
import HandlesSteps from './HandlesSteps'

export default {
  mixins: [InteractsWithResourceInformation, HandlesSteps],

  props: mapProps([
    'resourceName',
    'resourceId',
    'viaResource',
    'viaResourceId',
    'viaRelationship'
  ]),

  data: () => ({
    relationResponse: null,
    loading: true,
    validationErrors: new Errors(),
    lastRetrievedAt: null
  }),

  async created() {
    if (Nova.missingResource(this.resourceName))
      return this.$router.push({name: '404'})

    this.initializeStep()

    // If this update is via a relation index, then let's grab the field
    // and use the label for that as the one we use for the title and buttons
    if (this.isRelation) {
      const {data} = await Nova.request(
        `/nova-api/${this.viaResource}/field/${this.viaRelationship}`
      )
      this.relationResponse = data
    }

    this.getFields()
    this.updateLastRetrievedAtTimestamp()
  },

  methods: {
    /**
     * Get the available fields for the resource.
     */
    async getFields() {
      this.loadingSteps = true

      const {
        data: {panels, fields}
      } = await Nova.request()
        .get(
          `/nova-api/${this.resourceName}/${this.resourceId}/update-fields`,
          {
            params: {
              step: this.step,
              editing: true,
              editMode: 'update',
              viaResource: this.viaResource,
              viaResourceId: this.viaResourceId,
              viaRelationship: this.viaRelationship
            }
          }
        )
        .catch(error => {
          if (error.response.status == 404) {
            this.$router.push({name: '404'})
            return
          }
        })

      this.panels = panels
      this.fields = fields
      this.loading = false
      this.loadingSteps = false

      Nova.$emit('resource-loaded')
    },

    handleCancelled() {
      this.$router.push({
        name: 'detail',
        params: {
          resourceName: this.resourceName,
          resourceId: this.resourceId
        }
      })
    },

    async updateResource(formData = null) {
      try {
        const {
          data: {redirect}
        } = await this.updateRequest(formData)

        if (!this.currentPanel.silent) {
          Nova.success(
            this.__('The :resource was updated!', {
              resource: this.resourceInformation.singularLabel.toLowerCase()
            })
          )
        }

        await this.updateLastRetrievedAtTimestamp()

        return redirect
      } catch (error) {
        if (error.response.status == 422) {
          this.validationErrors = new Errors(error.response.data.errors)
          Nova.error(this.__('There was a problem submitting the form.'))
        }

        if (error.response.status == 409) {
          Nova.error(
            this.__(
              'Another user has updated this resource since this page was loaded. Please refresh the page and try again.'
            )
          )
        }
        return false
      }
    },

    async handlePrevious(formData = null) {
      if (await this.updateResource(formData)) {
        this.step && --this.step
        await this.getFields()
      }
    },

    async handleJumpToStep(index, formData = null) {
      if (await this.updateResource(formData)) {
        this.step = index
        await this.getFields()
      }
    },

    /**
     * Update the resource using the provided data.
     */
    async handleNext(formData = null) {
      const redirect = await this.updateResource(formData)
      if (redirect) {
        this.step++
        this.validationErrors = new Errors()
        await this.getFields()
      }
    },

    async handleSubmit(formData, close) {
      const redirect = await this.updateResource(formData)
      if (redirect) {
        if (close) {
          this.$router.push({path: redirect})
        } else {
          this.validationErrors = new Errors()
          await this.getFields()
        }
      }
    },

    /**
     * Send an update request for this resource
     */
    updateRequest(formData) {
      return Nova.request().post(
        `/nova-api/${this.resourceName}/${this.resourceId}`,
        _.tap(formData, (formData) => {
          formData.append('_method', 'PUT')
          formData.append('_retrieved_at', this.lastRetrievedAt)
        }),
        {
          params: {
            step: this.step,
            editing: true,
            editMode: 'update',
            viaResource: this.viaResource,
            viaResourceId: this.viaResourceId,
            viaRelationship: this.viaRelationship
          }
        }
      )
    },

    /**
     * Update the last retrieved at timestamp to the current UNIX timestamp.
     */
    updateLastRetrievedAtTimestamp() {
      this.lastRetrievedAt = Math.floor(new Date().getTime() / 1000)
    }
  },

  computed: {
    singularName() {
      if (this.relationResponse) {
        return this.relationResponse.singularLabel
      }

      return this.resourceInformation.singularLabel
    },

    isRelation() {
      return Boolean(this.viaResourceId && this.viaRelationship)
    }
  }
}
</script>
