<template>
  <div>
    <wizard-nav v-if="navigation && steps.length > 1" :steps="steps" :current="current"
                :last-completed-step="lastCompletedStep" :class="'mb-6'"
                @next="handleNextStep" @previous="handlePreviousStep" @jump-to="handleJumpToStep" :mode="mode"/>

    <form v-if="panels" autocomplete="off" ref="form" @submit="handleSubmitAndClose">
      <loading-view :loading="loading">
        <form-panel
          class="mb-8"
          v-if="currentPanel"
          @file-upload-started="handleFileUploadStarted"
          @file-upload-finished="handleFileUploadFinished"
          :shown-via-new-relation-modal="shownViaNewRelationModal"
          :panel="currentPanel"
          :name="currentPanel.name"
          :key="currentPanel.name"
          :resource-name="resourceName"
          :resource-id="resourceId"
          :fields="currentPanel.fields"
          mode="form"
          :validation-errors="validationErrors"
          :via-resource="viaResource"
          :via-resource-id="viaResourceId"
          :via-relationship="viaRelationship"
        />

        <div v-if="showWarning" class="card px-8 py-6 mb-8 bg-warning-light text-warning-dark border-2 border-warning">
          {{ warningMessage }}
        </div>
      </loading-view>

      <!-- Create Button -->
      <div class="flex items-center">
        <cancel-button v-if="buttonVisible('cancel')" @click="$emit('cancelled')" />

        <progress-button
          dusk="previous-step"
          class="mr-3"
          @click.native="handlePreviousStep"
          v-if="buttonVisible('previous') && current > 0"
          :disabled="isWorking"
          :processing="isWorking"
        >
          {{ __('Previous') }}
        </progress-button>

        <progress-button
          dusk="next-step"
          class="mr-3"
          @click.native="handleNextStep"
          :disabled="current == steps.length - 1 || isWorking"
          v-if="buttonVisible('next') && current < steps.length - 1"
          :processing="isWorking"
        >
          {{ __('Next') }}
        </progress-button>

        <progress-button
          dusk="submit-and-stay-step"
          class="mr-3"
          @click.native="handleSubmitAndStay"
          :disabled="isWorking"
          v-if="buttonVisible('saveAndContinue') && (current == steps.length - 1 || mode === 'update')"
          :processing="isWorking"
        >
          {{ __(submitAndContinueLabel) }}
        </progress-button>

        <progress-button
          dusk="submit-step"
          class="mr-3"
          @click.native="handleSubmitAndClose"
          :disabled="isWorking"
          v-if="buttonVisible('saveAndQuit') && (current == steps.length - 1 || mode === 'update')"
          :processing="isWorking"
        >
          {{ __(submitLabel) }}
        </progress-button>


        <!-- <slot v-if="current == steps.length - 1" scope="buttons"></slot> -->

      </div>
    </form>
  </div>
</template>

<script>
import {
  mapProps,
  Errors
} from 'laravel-nova'
import HandlesUploads from './HandlesUploads'

export default {
  mixins: [HandlesUploads],
  props: {
    navigation: {
      type: Boolean,
      default: false,
    },

    nextHandler: {
      type: Function,
      required: true,
    },

    previousHandler: {
      type: Function,
      required: true,
    },

    jumpToHandler: {
      type: Function,
      required: false,
    },

    submitHandler: {
      type: Function,
      required: true,
    },

    mode: {
      type: String,
      required: true,
      default: 'create'
    },

    panels: {
      type: Array,
      default: [],
    },

    validationErrors: {
      type: Object,
      required: true,
      default: new Errors(),
    },

    lastCompletedStep: {
      type: [String, Number],
      default: 0
    },

    ...mapProps([
      'resourceName',
      'resourceId',
      'viaResource',
      'viaResourceId',
      'viaRelationship',
      'shownViaNewRelationModal'
    ])
  },

  data: () => ({
    wasSubmited: false,
    wasSubmitedViaClose: false,
    loading: false
  }),

  async beforeDestroy() {
    // We need to clear the variables from the session to prevent issues in new instances of the form
    await Nova.request().post(
      `/nova-api/${this.resourceName}/step/${this.current}/clear`
    );
  },

  methods: {
    async handlePreviousStep() {
      this.isWorking = true;

      if (this.$refs.form.reportValidity()) {
        await this.previousHandler(this.checkpointResourceFormData)
      }

      this.isWorking = false
    },

    async handleNextStep() {
      this.isWorking = true;

      if (this.$refs.form.reportValidity()) {
        await this.nextHandler(this.checkpointResourceFormData)
      }

      this.isWorking = false
    },

    async handleJumpToStep(step) {
      this.isWorking = true

      if (this.$refs.form.reportValidity()) {
        await this.jumpToHandler(step.step, this.checkpointResourceFormData)
      }

      this.isWorking = false
    },

    async handleSubmitAndClose() {
      this.isWorking = true;
      this.wasSubmited = true;

      if (this.$refs.form.reportValidity()) {
        await this.submitHandler(this.checkpointResourceFormData, true)
      }

      this.isWorking = false
      this.wasSubmited = false;
    },

    async handleSubmitAndStay() {
      this.isWorking = true;
      this.wasSubmitedViaClose = true;

      if (this.$refs.form.reportValidity()) {
        await this.submitHandler(this.checkpointResourceFormData, false)
      }

      this.isWorking = false
      this.wasSubmitedViaClose = false;
    },

    buttonVisible(btn) {
      return this.config.buttons.visibility[btn]
    }
  },

  computed: {
    config() {
      const resource = Object.values(Nova.config.wizard.resources).find((resource) => resource.key === this.resourceName)
      return resource ? resource.config : {}
    },

    showWarning() {
      return this.config.warning.show
    },

    warningMessage() {
      return this.config.warning.message
    },

    submitLabel() {
      return this.config.buttons.labels.saveAndQuit[this.mode]
    },

    submitAndContinueLabel() {
      return this.config.buttons.labels.saveAndContinue[this.mode]
    },

    current() {
      return _.findIndex(this.steps, (step) => ! step.passed)
    },

    steps() {
      return this.panels.filter(panel => panel.step != undefined)
    },

    currentPanel() {
      return this.steps[this.current]
    },

    /**
     * Create the form data for creating the resource.
     */
    checkpointResourceFormData() {
      return _.tap(new FormData(), formData => {
        _.each(this.currentPanel.fields, field => {
          field.fill(formData)
        })

        formData.append('viaResource', this.viaResource)
        formData.append('viaResourceId', this.viaResourceId)
        formData.append('viaRelationship', this.viaRelationship)
      })
    },
  },
}
</script>
